<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <h2 class="col-6 offset-3">SignUp on Great Hotels</h2>
        <div class="col-6 offset-3">
        <form action="/signup" method="post" class="needs-validation" novalidate>

        <!-- mb-3 means margin bottom 3 to give some spacing in bottom -->
        <div class="mb-3">    
            <label for="username" class="form-label">Username</label>
            <input class="form-control"
            name="username"
            id="username"
            type="text"
            class="form-control"
            required
            />
            <div class="valid-feedback">Looks good</div>  <!--It shows green boundary and text when correct info filled in the form-->
            <div class="invalid-feedback">Please enter a valid username</div> <!--It shows red boundary and text when wrong or empty info filled in the form-->
        </div>

        <div class="mb-3">    
            <label for="email" class="form-label">Email</label>
            <input class="form-control"
            name="email"
            id="email"
            type="text"
            class="form-control"
            required
            />
        </div>

        <div class="mb-3">    
            <label for="password" class="form-label">Password</label>
            <input class="form-control"
            name="password"
            id="password"
            type="password"
            class="form-control"
            required
            />
        </div>

        <button class="btn btn-success">SignUp</button>

        </form>
        </div>
    </div>